In [5]:
# [J]efferson [S]cript
import pandas as pd
import numpy as np

In [84]:
# 0.0 Classe para gerar dados aleatórios
class Gerador_de_Dados:
    
    # 1.0 -  Construtor da classe
    def __init__( self, dataFrame = None, inicio_variacao = 0 , fim_variacao = 100 , quantidade_linhas = 1000 ):
        self.dataFrame = dataFrame
        self.inicio_variacao = inicio_variacao
        self.fim_variacao  = fim_variacao 
        self.quantidade_linhas = quantidade_linhas
        #self.dados = None
        
    # 2.0 - Método para criar uma série de dados inteiros
    def Cria_Serie_Inteiro( self ):
        return pd.Series( np.random.randint( self.inicio_variacao , self.fim_variacao , size = self.quantidade_linhas ))
    
    # 3.0 - Método para criar uma série de dados com números reais
    def Cria_Serie_Reais( self ):
        return pd.Series( np.random.random( size = self.quantidade_linhas ) * 100)
    
    # 4.0 - Método para criar uma série de dados categoricos
    def Cria_Serie_Categorica( self, lista):
        return pd.Series( np.random.choice( lista , size = self.quantidade_linhas ))
    
    # 5.0 - Método para verificar se a lista é Uni ou Bidimensional
    def Verifica_dimensao_categorica( self , lista ):
        
        if isinstance( lista[0] , list ):
            return True # Bidimensional
        else:
            return False # Unidimensional
    
    # 5.1 - Método para criar os tipos de colunas
    def Cria_Colunas_Categoricas( self , lista , nome_coluna , flag_dimensao_col = False ):

        flag_dimensao_col = self.Verifica_dimensao_categorica( lista )
        self.dataFrame = pd.DataFrame()
        
        if flag_dimensao_col == False:
            self.dataFrame[ nome_coluna ] = self.Cria_Serie_Categorica( lista )
        else:
            for indice , coluna in enumerate( nome_coluna ):
                self.dataFrame[ coluna ] = self.Cria_Serie_Categorica( lista[ indice ] )

        return self.dataFrame

    # 5.2 - Método para criar os tipos de colunas Númericas
    def Cria_Colunas_Numericas( self , lista , nome_coluna ):
        
        self.dataFrame = pd.DataFrame()
        
        if isinstance( lista, bool ):

            if lista == True:
                self.dataFrame[ nome_coluna ] = self.Cria_Serie_Inteiro() 
            else:
                self.dataFrame[ nome_coluna ] = self.Cria_Serie_Reais()
        else:
            
            for indice , coluna in enumerate( nome_coluna ):
                
                if lista[ indice ] == True:
                    self.dataFrame[ coluna ] = self.Cria_Serie_Inteiro()  
                else:
                    self.dataFrame[ coluna ] = self.Cria_Serie_Reais()
                    
        return self.dataFrame
            
    # 5.0 - Método para verificar se a lista é bidimensional ou unidimensional

In [82]:
lista_numero = [ True , False ] 
teste_numero_inteiro = True
teste_numero_real = False
#print( isinstance( teste_numero_inteiro , bool ) )
dado = Gerador_de_Dados()
teste1 = dado.Cria_Colunas_Numericas( teste_numero_inteiro , 'Teste Inteiro' )
teste2 = dado.Cria_Colunas_Numericas( teste_numero_real , 'Teste Real' )
teste3 = dado.Cria_Colunas_Numericas( lista_numero , [ 'Teste Inteiro' , 'Teste Real' ] )
teste3

     Teste Inteiro  Teste Real
0               94   71.560712
1                1   10.066483
2               87   62.587258
3                5   50.472587
4               70   50.445540
..             ...         ...
995             24   89.074194
996             72   12.389264
997             98   92.488367
998             98   68.820055
999             64   69.184735

[1000 rows x 2 columns]

In [83]:
lista_mercado = ['Arroz', 'Feijão', 'Macarrão','Temperos', 'Óleo', 'Açúcar', 'Café', 'Farinha', 'Sal', 'Pimenta',
         'Vinagre', 'Azeite', 'Molho de Tomate', 'Extrato de Tomate', 'Ketchup', 'Mostarda', 'Maionese']

lista_carro = ['Fiat', 'Ford', 'Chevrolet', 'Volkswagen', 'Renault', 'Peugeot', 'Citroen', 'Toyota', 'Honda', 'Hyundai']

lista_roupas = ['Camiseta', 'Calça', 'Bermuda', 'Blusa', 'Vestido', 'Saia', 'Short', 'Jaqueta', 'Casaco', 'Camisa']

lista_escola = ['Caderno', 'Lápis', 'Caneta', 'Borracha', 'Apontador', 'Régua', 'Tesoura', 'Cola', 'Mochila', 'Estojo']


teste_bidimensional = [ lista_mercado, lista_carro, lista_roupas]
colunas_bidimensional = [ 'Mercado', 'Carros' , 'Roupas' ]
dado = Gerador_de_Dados()
teste = dado.Cria_Colunas_Categoricas( teste_bidimensional , colunas_bidimensional , True )
#print( teste_bidimensional[0] )
#print( teste_bidimensional[0][0] )
teste

               Mercado      Carros   Roupas
0             Temperos   Chevrolet  Jaqueta
1                  Sal        Fiat    Calça
2                 Café  Volkswagen  Bermuda
3                 Café        Ford   Camisa
4              Pimenta        Ford     Saia
..                 ...         ...      ...
995            Farinha        Fiat  Bermuda
996  Extrato de Tomate     Citroen     Saia
997               Café  Volkswagen    Short
998            Ketchup       Honda   Casaco
999             Açúcar     Hyundai  Vestido

[1000 rows x 3 columns]

In [21]:
#teste.memory_usage( deep = True, index = False ) / 1024 / 1024
teste.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000000 entries, 0 to 4999999
Data columns (total 3 columns):
 #   Column   Dtype
---  ------   -----
 0   Mercado  object
 1   Carros   object
 2   Roupas   object
dtypes: object(3)
memory usage: 114.4+ MB