In [1]:
# [J]efferson [S]cript
import pandas as pd
import numpy as np

In [14]:
# 0.0 Classe para gerar dados aleatórios
class Gerador_de_Dados:
    
    # 1.0 -  Construtor da classe
    def __init__( self, dataFrame = None, inicio_variacao = 0 , fim_variacao = 100 , quantidade_linhas = 5000000 ):
        self.dataFrame = dataFrame
        self.inicio_variacao = inicio_variacao
        self.fim_variacao  = fim_variacao 
        self.quantidade_linhas = quantidade_linhas
        #self.dados = None
        
    # 2.0 - Método para criar uma série de dados inteiros
    def Cria_Serie_Inteiro( self ):
        return pd.Series( np.random.randint( self.inicio_variacao , self.fim_variacao , size = self.quantidade_linhas ))
    
    # 3.0 - Método para criar uma série de dados com números reais
    def Cria_Serie_Reais( self ):
        return pd.Series( np.random.random( size = self.quantidade_linhas ) * 100)
    
    # 4.0 - Método para criar uma série de dados categoricos
    def Cria_Serie_Categorica( self, lista):
        return pd.Series( np.random.choice( lista , size = self.quantidade_linhas ))
    
    # 5.0 - Método para verificar se a lista é Uni ou Bidimensional
    def Verifica_dimensao_categorica( self , lista ):
        
        if isinstance( lista[0] , list ):
            return True # Bidimensional
        else:
            return False # Unidimensional
    
    # 5.1 - Método para criar os tipos de colunas
    def Cria_Colunas_Categoricas( self , lista , nome_coluna , flag_dimensao_col = False ):

        flag_dimensao_col = self.Verifica_dimensao_categorica( lista )
        self.dataFrame = pd.DataFrame()
        
        if flag_dimensao_col == False:
            self.dataFrame[ nome_coluna ] = self.Cria_Serie_Categorica( lista )
        else:
            for indice , coluna in enumerate( nome_coluna ):
                self.dataFrame[ coluna ] = self.Cria_Serie_Categorica( lista[ indice ] )

        return self.dataFrame

    # 5.2 - Método para criar os tipos de colunas Númericas
    def Cria_Colunas_Numericas( self , lista , nome_coluna ):
        
        self.dataFrame = pd.DataFrame()
        
        if isinstance( lista, bool ):

            if lista == True:
                self.dataFrame[ nome_coluna ] = self.Cria_Serie_Inteiro() 
            else:
                self.dataFrame[ nome_coluna ] = self.Cria_Serie_Reais()
        else:
            
            for indice , coluna in enumerate( nome_coluna ):
                
                if lista[ indice ] == True:
                    self.dataFrame[ coluna ] = self.Cria_Serie_Inteiro()  
                else:
                    self.dataFrame[ coluna ] = self.Cria_Serie_Reais()
                    
        return self.dataFrame
            
    # 5.0 - Método para verificar se a lista é bidimensional ou unidimensional

In [15]:
# Para núemros inteiros passe como parâmetro True e para números reais False
lista_numero = [ True , False , True , False ] 
teste_numero_inteiro = True
teste_numero_real = False

dado = Gerador_de_Dados()
teste1 = dado.Cria_Colunas_Numericas( teste_numero_inteiro , 'Teste Inteiro_' )
teste2 = dado.Cria_Colunas_Numericas( teste_numero_real , 'Teste Real_' )
teste3 = dado.Cria_Colunas_Numericas( lista_numero , [ 'Teste Inteiro' , 'Teste Real' ] )

df_numeros = pd.concat([teste1, teste2, teste3], axis=1)

In [16]:
# as listas que serão utilizadas para criar as colunas categóricas
lista_mercado = ['Arroz', 'Feijão', 'Macarrão','Temperos', 'Óleo', 'Açúcar', 'Café', 'Farinha', 'Sal', 'Pimenta',
         'Vinagre', 'Azeite', 'Molho de Tomate', 'Extrato de Tomate', 'Ketchup', 'Mostarda', 'Maionese']

lista_carro = ['Fiat', 'Ford', 'Chevrolet', 'Volkswagen', 'Renault', 'Peugeot', 'Citroen', 'Toyota', 'Honda', 'Hyundai']

lista_roupas = ['Camiseta', 'Calça', 'Bermuda', 'Blusa', 'Vestido', 'Saia', 'Short', 'Jaqueta', 'Casaco', 'Camisa']

lista_escola = ['Caderno', 'Lápis', 'Caneta', 'Borracha', 'Apontador', 'Régua', 'Tesoura', 'Cola', 'Mochila', 'Estojo']

# Se o parâmetro for True, a lista é bidimensional, se for False, a lista é unidimensional
listas_unidas = [ lista_mercado , lista_carro , lista_roupas , lista_escola]
colunas_bidimensional = [ 'Mercado', 'Carros' , 'Roupas' , 'Escola']
dado = Gerador_de_Dados()
df_categoricos = dado.Cria_Colunas_Categoricas( listas_unidas , colunas_bidimensional , True )

df_categoricos

                 Mercado      Carros    Roupas     Escola
0                   Óleo  Volkswagen    Camisa      Régua
1                  Arroz  Volkswagen    Casaco     Estojo
2                   Café  Volkswagen  Camiseta    Tesoura
3                  Arroz       Honda   Vestido    Mochila
4        Molho de Tomate   Chevrolet   Bermuda   Borracha
...                  ...         ...       ...        ...
4999995          Ketchup        Fiat      Saia  Apontador
4999996         Temperos   Chevrolet     Blusa      Régua
4999997         Macarrão     Peugeot     Calça      Lápis
4999998           Açúcar       Honda    Casaco     Caneta
4999999          Pimenta     Renault    Camisa       Cola

[5000000 rows x 4 columns]

In [17]:
#teste.memory_usage( deep = True, index = False ) / 1024 / 1024
df = pd.concat( [ df_categoricos, df_numeros ] , axis = 1 )
df

,Mercado,Carros,Roupas,Escola,Teste Inteiro_,Teste Real_,Teste Inteiro,Teste Real
0,Óleo,Volkswagen,Camisa,Régua,69,75.078130,15,38.491065
1,Arroz,Volkswagen,Casaco,Estojo,44,88.084988,1,39.827408
2,Café,Volkswagen,Camiseta,Tesoura,34,70.478738,43,13.944200
3,Arroz,Honda,Vestido,Mochila,78,98.234023,60,97.997129
4,Molho de Tomate,Chevrolet,Bermuda,Borracha,86,43.419152,56,58.150041
...,...,...,...,...,...,...,...,...
4999995,Ketchup,Fiat,Saia,Apontador,29,69.477766,93,33.723981
4999996,Temperos,Chevrolet,Blusa,Régua,87,18.355927,99,55.935771
4999997,Macarrão,Peugeot,Calça,Lápis,21,60.465091,69,39.856506
4999998,Açúcar,Honda,Casaco,Caneta,80,46.846472,86,21.070260
4999999,Pimenta,Renault,Camisa,Cola,80,73.845648,27,79.510119

In [19]:
df.info( memory_usage = 'deep' )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000000 entries, 0 to 4999999
Data columns (total 8 columns):
 #   Column          Dtype
---  ------          -----
 0   Mercado         object
 1   Carros          object
 2   Roupas          object
 3   Escola          object
 4   Teste Inteiro_  int32
 5   Teste Real_     float64
 6   Teste Inteiro   int32
 7   Teste Real      float64
dtypes: float64(2), int32(2), object(4)
memory usage: 1.4 GB