In [5]:
# [J]efferson [S]cript
import pandas as pd
import numpy as np

In [17]:
# 0.0 Classe para gerar dados aleatórios
class Gerador_de_Dados:
    
    # 1.0 -  Construtor da classe
    def __init__( self, dataFrame = None, inicio_variacao = 0 , fim_variacao = 100 , quantidade_linhas = 5000000 ):
        self.dataFrame = dataFrame
        self.inicio_variacao = inicio_variacao
        self.fim_variacao  = fim_variacao 
        self.quantidade_linhas = quantidade_linhas
        #self.dados = None
        
    # 2.0 - Método para criar uma série de dados inteiros
    def Cria_Serie_Inteiro( self ):
        return pd.Series( np.random.randint( self.inicio_variacao , self.fim_variacao , size = self.quantidade_linhas ))
    
    # 3.0 - Método para criar uma série de dados com números reais
    def Cria_Serie_Reais( self ):
        return pd.Series( np.random.random( size = self.quantidade_linhas ) * 100)
    
    # 4.0 - Método para criar uma série de dados categoricos
    def Cria_Serie_Categorica( self, lista):
        return pd.Series( np.random.choice( lista , size = self.quantidade_linhas ))
    
    # 5.0 - Método para verificar se a lista é bidimensional ou unidimensional
    def Verificar_dimensao( self , lista ):
        
        if isinstance( lista[0] , list ):
            return True # Bidimensional
        else:
            return False # Unidimensional
    
    # 5.1 - Método para criar os tipos de colunas
    def Cria_Colunas_Categoricas( self , lista , nome_coluna , flag_dimensao_col = False ):

        flag_dimensao_col = self.Verificar_dimensao( lista )
        
        if flag_dimensao_col == False:
            
            self.dataFrame = pd.DataFrame()
            self.dataFrame[ nome_coluna ] = self.Cria_Serie_Categorica( lista )

        else:
            
            self.dataFrame = pd.DataFrame()
            for indice , coluna in enumerate( nome_coluna ):
                self.dataFrame[ coluna ] = self.Cria_Serie_Categorica( lista[ indice ] )

        return self.dataFrame

    # 5.2 - Método para criar os tipos de colunas Númericas
    
            
    # 5.0 - Método para verificar se a lista é bidimensional ou unidimensional

In [18]:
lista_mercado = ['Arroz', 'Feijão', 'Macarrão','Temperos', 'Óleo', 'Açúcar', 'Café', 'Farinha', 'Sal', 'Pimenta',
         'Vinagre', 'Azeite', 'Molho de Tomate', 'Extrato de Tomate', 'Ketchup', 'Mostarda', 'Maionese']

lista_carro = ['Fiat', 'Ford', 'Chevrolet', 'Volkswagen', 'Renault', 'Peugeot', 'Citroen', 'Toyota', 'Honda', 'Hyundai']

lista_roupas = ['Camiseta', 'Calça', 'Bermuda', 'Blusa', 'Vestido', 'Saia', 'Short', 'Jaqueta', 'Casaco', 'Camisa']

lista_escola = ['Caderno', 'Lápis', 'Caneta', 'Borracha', 'Apontador', 'Régua', 'Tesoura', 'Cola', 'Mochila', 'Estojo']


teste_bidimensional = [lista_mercado, lista_carro, lista_roupas]
colunas_bidimensional = [ 'Mercado', 'Carros' , 'Roupas' ]
dado = Gerador_de_Dados()
teste = dado.Cria_Colunas_Categoricas( teste_bidimensional , colunas_bidimensional , True )
#print( teste_bidimensional[0] )
#print( teste_bidimensional[0][0] )
teste

          Mercado   Carros    Roupas
0         Farinha    Honda    Camisa
1         Pimenta    Honda   Vestido
2          Azeite  Renault   Jaqueta
3         Ketchup  Citroen    Casaco
4          Feijão  Peugeot    Camisa
...           ...      ...       ...
4999995   Ketchup  Citroen    Casaco
4999996  Mostarda     Fiat   Bermuda
4999997  Maionese    Honda  Camiseta
4999998      Óleo  Renault     Short
4999999  Macarrão     Fiat     Short

[5000000 rows x 3 columns]

In [20]:
teste.memory_usage( deep = True, index = False ) / 1024 / 1024

Mercado    340.832058
Carros     303.265665
Roupas     311.865699
dtype: float64

In [35]:
listdado_de_itens = ['Caderno', 'Lápis', 'Caneta', 'Borracha', 'Apontador', 'Régua', 'Tesoura', 'Cola', 'Mochila', 'Estojo']
dado = Gerador_de_Dados()
inteiro = dado.Cria_Serie_Inteiro()
numerico = dado.Cria_Serie_Reais()
categorico1 = dado.Cria_Serie_Categorica(listdado_de_itens)
categorico2 = dado.Cria_Colunas(listdado_de_itens, 'Materiais Escolares', False )
#categorico2
#inteiro.append(numerico)
#inteiro.append(categorico1)
#inteiro.append(categorico2)
categorico2.head(10)

  Materiais Escolares
0               Lápis
1             Tesoura
2              Estojo
3           Apontador
4             Mochila
5            Borracha
6             Tesoura
7              Caneta
8             Tesoura
9             Mochila