In [1]:
# [J]efferson [S]cript
import pandas as pd
import numpy as np

In [13]:
# 0.0 Classe para gerar dados aleatórios
class Gerador_de_Dados:
    
    # 1.0 -  Construtor da classe
    def __init__( self, dataFrame = None , inicio_variacao = 0 , fim_variacao = 100 , quantidade_linhas = 5000000 ):
        
        self.dataFrame = dataFrame
        self.inicio_variacao = inicio_variacao
        self.fim_variacao  = fim_variacao 
        self.quantidade_linhas = quantidade_linhas
        #self.dados = None
        
    # 2.0 - Método para criar uma série de dados inteiros
    def Cria_Serie_Inteiro( self ):
        return pd.Series( np.random.randint( self.inicio_variacao , self.fim_variacao , size = self.quantidade_linhas ))
    
    # 3.0 - Método para criar uma série de dados com números reais
    def Cria_Serie_Reais( self ):
        return pd.Series( np.random.random( size = self.quantidade_linhas ) * 100)
    
    # 4.0 - Método para criar uma série de dados categoricos
    def Cria_Serie_Categorica( self, lista):
        return pd.Series( np.random.choice( lista , size = self.quantidade_linhas ))
    
    # 5.0 - Método para verificar se a lista é Uni ou Bidimensional
    def Verifica_dimensao_categorica( self , lista ):
        
        if isinstance( lista[0] , list ):
            return True # Bidimensional
        else:
            return False # Unidimensional
    
    # 5.1 - Método para criar os tipos de colunas
    def Cria_Colunas_Categoricas( self , lista , nome_coluna , flag_dimensao_coluna = False ):

        flag_dimensao_coluna = self.Verifica_dimensao_categorica( lista )
        self.dataFrame = pd.DataFrame()
        
        if flag_dimensao_coluna == False:
            self.dataFrame[ nome_coluna ] = self.Cria_Serie_Categorica( lista )
        else:
            for indice , coluna in enumerate( nome_coluna ):
                self.dataFrame[ coluna ] = self.Cria_Serie_Categorica( lista[ indice ] )

        return self.dataFrame

    # 5.2 - Método para criar os tipos de colunas Númericas
    def Cria_Colunas_Numericas( self , lista , nome_coluna ):
        
        self.dataFrame = pd.DataFrame()
        
        if isinstance( lista, bool ):

            if lista == True:
                self.dataFrame[ nome_coluna ] = self.Cria_Serie_Inteiro() 
            else:
                self.dataFrame[ nome_coluna ] = self.Cria_Serie_Reais()
        else:
            
            for indice , coluna in enumerate( nome_coluna ):
                
                if lista[ indice ] == True:
                    self.dataFrame[ coluna ] = self.Cria_Serie_Inteiro()  
                else:
                    self.dataFrame[ coluna ] = self.Cria_Serie_Reais()
                    
        return self.dataFrame
            
    # 5.0 - Método para verificar se a lista é bidimensional ou unidimensional

In [14]:
# Para núemros inteiros passe como parâmetro True e para números reais False
lista_numero = [ True , False , True , False ] 
teste_numero_inteiro = True
teste_numero_real = False

dado = Gerador_de_Dados()
teste1 = dado.Cria_Colunas_Numericas( teste_numero_inteiro , 'Teste Inteiro_' )
teste2 = dado.Cria_Colunas_Numericas( teste_numero_real , 'Teste Real_' )
teste3 = dado.Cria_Colunas_Numericas( lista_numero , [ 'Teste Inteiro' , 'Teste Real' ] )

df_numeros = pd.concat([teste1, teste2, teste3], axis=1)

In [15]:
# as listas que serão utilizadas para criar as colunas categóricas
lista_mercado = ['Arroz', 'Feijão', 'Macarrão','Temperos', 'Óleo', 'Açúcar', 'Café', 'Farinha', 'Sal', 'Pimenta',
         'Vinagre', 'Azeite', 'Molho de Tomate', 'Extrato de Tomate', 'Ketchup', 'Mostarda', 'Maionese']

lista_carro = ['Fiat', 'Ford', 'Chevrolet', 'Volkswagen', 'Renault', 'Peugeot', 'Citroen', 'Toyota', 'Honda', 'Hyundai']

lista_roupas = ['Camiseta', 'Calça', 'Bermuda', 'Blusa', 'Vestido', 'Saia', 'Short', 'Jaqueta', 'Casaco', 'Camisa']

lista_escola = ['Caderno', 'Lápis', 'Caneta', 'Borracha', 'Apontador', 'Régua', 'Tesoura', 'Cola', 'Mochila', 'Estojo']

lista_times = [ 'Flamengo', 'Vasco', 'Fluminense', 'Botafogo', 'São Paulo', 'Corinthians', 'Palmeiras', 'Santos', 'Internacional', 
               'Grêmio', 'Cruzeiro', 'Atlético Mineiro', 'Bahia', 'Vitória', 'Sport', 'Santa Cruz', 'Náutico', 'Fortaleza', 'Ceará', 'ABC', 
               'América', 'CRB', 'CSA', 'Avaí', 'Figueirense', 'Chapecoense', 'Joinville', 'Paraná', 'Coritiba', 'Londrina', 'Paysandu', 'Remo', 'Tuna Luso', 
               'Sampaio Corrêa', 'Moto Club', 'Cuiabá', 'Luverdense', 'Vila Nova', 'Goiás', 'Atlético Goianiense', 'Anápolis', 'Gama', 'Brasiliense', 'Ceilândia',
               'Brasília', 'Caldense', 'Uberlândia', 'Tupi', 'América', 'Boa Esporte', 'Guarani', 'Ponte Preta', 'São Bento', 'Oeste', 'Botafogo', 'São Caetano', 'Santo André', 
               'São Bernardo', 'São Paulo', 'Corinthians', 'Palmeiras', 'Santos', 'Internacional', 'Grêmio', 'Cruzeiro', 'Atlético Mineiro', 'Bahia', 'Vitória', 
               'Sport', 'Santa Cruz', 'Náutico', 'Fortaleza', 'Ceará', 'ABC', 'América', 'CRB', 'CSA', 'Avaí', 'Figueirense', 'Chapecoense', 'Joinville', 'Paraná', 'Coritiba', 
               'Londrina', 'Paysandu', 'Remo', 'Tuna Luso', 'Sampaio Corrêa', 'Moto Club', 'Cuiabá', 'Luverdense', 'Vila Nova', 'Goiás', 'Atlético Goianiense', 'Anápolis', 'Gama',
               'Brasiliense', 'Ceilândia', 'Brasília', 'Caldense', 'Uberlândia', 'Tupi', 'América', 'Boa Esporte', 'Guarani', 'Ponte Preta', 'São Bento']

lista_animais = ['Cachorro', 'Gato', 'Papagaio', 'Arara', 'Papagaio', 'Cavalo', 'Vaca', 'Boi', 'Galinha', 'Pato', 'Cisne', 'Pombo', 'Pavão' , 'Carneiro', 'Bode',
                'Cabra', 'Porco', 'Touro', 'Girafa', 'Elefante', 'Leão', 'Tigre', 'Onça', 'Pantera', 'Jaguar', 'Guepardo', 'Leopardo', 'Hiena', 'Rinoceronte',
                'Hipopótamo', 'Crocodilo', 'Jacaré', 'Cobra', 'Sucuri', 'Jiboia', 'Píton', 'Anaconda', 'Tartaruga', 'Cágado', 'Tigre', 'Tubarão', 'Baleia', 'Golfinho', 
                'Orca', 'Polvo', 'Lula', 'Água Viva', 'Estrela do Mar', 'Baleia', 'Golfinho', 'Orca', 'Polvo', 'Lula', 'Água Viva', 'Estrela do Mar', 'Baleia', 'Golfinho']

# Se o parâmetro for True, a lista é bidimensional, se for False, a lista é unidimensional
listas_unidas = [ lista_mercado , lista_carro , lista_roupas , lista_escola , lista_times , lista_animais]
colunas_bidimensional = [ 'Mercado', 'Carros' , 'Roupas' , 'Escola', 'Times' , 'Animais' ]
dado = Gerador_de_Dados()
df_categoricos = dado.Cria_Colunas_Categoricas( listas_unidas , colunas_bidimensional , True )

df_categoricos

,Mercado,Carros,Roupas,Escola,Times,Animais
0,Macarrão,Ford,Calça,Cola,Cruzeiro,Orca
1,Ketchup,Toyota,Casaco,Apontador,Náutico,Lula
2,Molho de Tomate,Hyundai,Casaco,Caderno,Fluminense,Sucuri
3,Açúcar,Hyundai,Casaco,Borracha,Ceilândia,Hipopótamo
4,Macarrão,Renault,Bermuda,Borracha,Tupi,Jacaré
...,...,...,...,...,...,...
4999995,Farinha,Toyota,Bermuda,Estojo,Goiás,Cachorro
4999996,Café,Volkswagen,Calça,Tesoura,Gama,Cobra
4999997,Feijão,Toyota,Calça,Tesoura,Caldense,Polvo
4999998,Açúcar,Hyundai,Bermuda,Lápis,Anápolis,Guepardo
4999999,Macarrão,Chevrolet,Casaco,Mochila,Goiás,Papagaio

In [16]:
#teste.memory_usage( deep = True, index = False ) / 1024 / 1024
df = pd.concat( [ df_categoricos, df_numeros ] , axis = 1 )
df

,Mercado,Carros,Roupas,Escola,Times,Animais,Teste Inteiro_,Teste Real_,Teste Inteiro,Teste Real
0,Macarrão,Ford,Calça,Cola,Cruzeiro,Orca,54,80.560664,59,77.144231
1,Ketchup,Toyota,Casaco,Apontador,Náutico,Lula,6,65.802682,68,27.302839
2,Molho de Tomate,Hyundai,Casaco,Caderno,Fluminense,Sucuri,61,72.679805,12,42.495871
3,Açúcar,Hyundai,Casaco,Borracha,Ceilândia,Hipopótamo,60,71.774404,13,6.796312
4,Macarrão,Renault,Bermuda,Borracha,Tupi,Jacaré,21,3.134814,53,50.763131
...,...,...,...,...,...,...,...,...,...,...
4999995,Farinha,Toyota,Bermuda,Estojo,Goiás,Cachorro,4,15.763632,77,77.393578
4999996,Café,Volkswagen,Calça,Tesoura,Gama,Cobra,37,56.118500,67,48.250234
4999997,Feijão,Toyota,Calça,Tesoura,Caldense,Polvo,39,33.406161,30,34.347473
4999998,Açúcar,Hyundai,Bermuda,Lápis,Anápolis,Guepardo,79,23.394358,91,28.029632
4999999,Macarrão,Chevrolet,Casaco,Mochila,Goiás,Papagaio,89,80.627467,97,35.889005

In [17]:
df.info( memory_usage = 'deep' )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000000 entries, 0 to 4999999
Data columns (total 10 columns):
 #   Column          Dtype
---  ------          -----
 0   Mercado         object
 1   Carros          object
 2   Roupas          object
 3   Escola          object
 4   Times           object
 5   Animais         object
 6   Teste Inteiro_  int32
 7   Teste Real_     float64
 8   Teste Inteiro   int32
 9   Teste Real      float64
dtypes: float64(2), int32(2), object(6)
memory usage: 2.0 GB

In [8]:
# Salvando o arquivo em disco com extensão .csv - lembre-se que este arquivo tem o tamanho de 2.0 GB com 10.000.000 de linhas
#pd.to_csv( 'Dados_criados_aleatorios.csv' , index = False )