In [1]:
# [J]efferson [S]cript
import pandas as pd
import numpy as np

In [2]:
# 0.0 Classe para gerar dados aleatórios
class Gerador_de_Dados:
    
    # 1.0 -  Construtor da classe
    def __init__( self, dataFrame = None , inicio_variacao = 0 , fim_variacao = 100 , quantidade_linhas = 5000000 ):
        
        self.dataFrame = dataFrame
        self.inicio_variacao = inicio_variacao
        self.fim_variacao  = fim_variacao 
        self.quantidade_linhas = quantidade_linhas
        #self.dados = None
        
    # 2.0 - Método para criar uma série de dados inteiros
    def Cria_Serie_Inteiro( self ):
        return pd.Series( np.random.randint( self.inicio_variacao , self.fim_variacao , size = self.quantidade_linhas ))
    
    # 3.0 - Método para criar uma série de dados com números reais
    def Cria_Serie_Reais( self ):
        return pd.Series( np.random.random( size = self.quantidade_linhas ) * 100 )
    
    # 4.0 - Método para criar uma série de dados categoricos
    def Cria_Serie_Categorica( self, lista):
        return pd.Series( np.random.choice( lista , size = self.quantidade_linhas ))
    
    # 5.0 - Método para verificar se a lista é Uni ou Bidimensional
    def Verifica_dimensao_categorica( self , lista ):
        
        if isinstance( lista[0] , list ):
            return True # Bidimensional
        else:
            return False # Unidimensional
    
    # 5.1 - Método para criar os tipos de colunas
    def Cria_Colunas_Categoricas( self , lista , nome_coluna , flag_dimensao_coluna = False ):

        flag_dimensao_coluna = self.Verifica_dimensao_categorica( lista )
        self.dataFrame = pd.DataFrame()
        
        if flag_dimensao_coluna == False:
            self.dataFrame[ nome_coluna ] = self.Cria_Serie_Categorica( lista )
        else:
            for indice , coluna in enumerate( nome_coluna ):
                self.dataFrame[ coluna ] = self.Cria_Serie_Categorica( lista[ indice ] )

        return self.dataFrame

    # 5.2 - Método para criar os tipos de colunas Númericas
    def Cria_Colunas_Numericas( self , lista , nome_coluna ):
        
        self.dataFrame = pd.DataFrame()
        
        if isinstance( lista, bool ):

            if lista == True:
                self.dataFrame[ nome_coluna ] = self.Cria_Serie_Inteiro() 
            else:
                self.dataFrame[ nome_coluna ] = self.Cria_Serie_Reais()
        else:
            
            for indice , coluna in enumerate( nome_coluna ):
                
                if lista[ indice ] == True:
                    self.dataFrame[ coluna ] = self.Cria_Serie_Inteiro()  
                else:
                    self.dataFrame[ coluna ] = self.Cria_Serie_Reais()
                    
        return self.dataFrame
            
    # 5.0 - Método para verificar se a lista é bidimensional ou unidimensional

In [3]:
# Para núemros inteiros passe como parâmetro True e para números reais False
lista_numero = [ True , False , True , False , False , True , True , False , False , True ] 
#lista_numero = [ True , True , True , True , True , True , True , True , True , True ] 
teste_numero_inteiro = True
teste_numero_real = False
Colunas = [ 'Teste_1' , 'Teste_2' , 'Teste_3' , 'Teste_4' , 'Teste_5' , 'Teste_6' , 'Teste_7' , 'Teste_8' , 'Teste_9' , 'Teste_10' ]

dado = Gerador_de_Dados()
teste1 = dado.Cria_Colunas_Numericas( teste_numero_inteiro , 'Teste Inteiro_' )
teste2 = dado.Cria_Colunas_Numericas( teste_numero_real , 'Teste Real_' )
teste3 = dado.Cria_Colunas_Numericas( lista_numero , Colunas )

df_numeros = pd.concat([teste1, teste2, teste3], axis=1)
df_numeros.info( memory_usage = 'deep' )
df_num = dado.Cria_Colunas_Numericas(False, 'Valor')
#df_num.to_csv( 'teste.csv' , index = False )
#df_num.sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000000 entries, 0 to 4999999
Data columns (total 12 columns):
 #   Column          Dtype
---  ------          -----
 0   Teste Inteiro_  int32
 1   Teste Real_     float64
 2   Teste_1         int32
 3   Teste_2         float64
 4   Teste_3         int32
 5   Teste_4         float64
 6   Teste_5         float64
 7   Teste_6         int32
 8   Teste_7         int32
 9   Teste_8         float64
 10  Teste_9         float64
 11  Teste_10        int32
dtypes: float64(6), int32(6)
memory usage: 343.3 MB

In [4]:
# as listas que serão utilizadas para criar as colunas categóricas
lista_mercado = ['Arroz', 'Feijão', 'Macarrão','Temperos', 'Óleo', 'Açúcar', 'Café', 'Farinha', 'Sal', 'Pimenta',
         'Vinagre', 'Azeite', 'Molho de Tomate', 'Extrato de Tomate', 'Ketchup', 'Mostarda', 'Maionese']

lista_carro = ['Fiat', 'Ford', 'Chevrolet', 'Volkswagen', 'Renault', 'Peugeot', 'Citroen', 'Toyota', 'Honda', 'Hyundai']

lista_roupas = ['Camiseta', 'Calça', 'Bermuda', 'Blusa', 'Vestido', 'Saia', 'Short', 'Jaqueta', 'Casaco', 'Camisa']

lista_escola = ['Caderno', 'Lápis', 'Caneta', 'Borracha', 'Apontador', 'Régua', 'Tesoura', 'Cola', 'Mochila', 'Estojo']

lista_times = [ 'Flamengo', 'Vasco', 'Fluminense', 'Botafogo', 'São Paulo', 'Corinthians', 'Palmeiras', 'Santos', 'Internacional', 
               'Grêmio', 'Cruzeiro', 'Atlético Mineiro', 'Bahia', 'Vitória', 'Sport', 'Santa Cruz', 'Náutico', 'Fortaleza', 'Ceará', 'ABC', 
               'América', 'CRB', 'CSA', 'Avaí', 'Figueirense', 'Chapecoense', 'Joinville', 'Paraná', 'Coritiba', 'Londrina', 'Paysandu', 
               'Remo', 'Tuna Luso', 'Sampaio Corrêa', 'Moto Club', 'Cuiabá', 'Luverdense', 'Vila Nova', 'Goiás', 'Atlético Goianiense',
               'Anápolis', 'Gama', 'Brasiliense', 'Ceilândia', 'Brasília', 'Caldense', 'Uberlândia', 'Tupi', 'América', 'Boa Esporte', 
               'Guarani', 'Ponte Preta', 'São Bento', 'Oeste', 'Botafogo', 'São Caetano', 'Santo André','São Bernardo', 'São Paulo', 
               'Corinthians', 'Palmeiras', 'Santos', 'Internacional', 'Grêmio', 'Cruzeiro', 'Atlético Mineiro', 'Bahia', 'Vitória', 
               'Sport', 'Santa Cruz', 'Náutico', 'Fortaleza', 'Ceará', 'ABC', 'América', 'CRB', 'CSA', 'Avaí', 'Figueirense', 
               'Chapecoense', 'Joinville', 'Paraná', 'Coritiba', 'Londrina', 'Paysandu', 'Remo', 'Tuna Luso', 'Sampaio Corrêa', 'Moto Club',
               'Cuiabá', 'Luverdense', 'Vila Nova', 'Goiás', 'Atlético Goianiense', 'Anápolis', 'Gama', 'Brasiliense', 'Ceilândia',
               'Brasília', 'Caldense', 'Uberlândia', 'Tupi', 'América', 'Boa Esporte', 'Guarani', 'Ponte Preta', 'São Bento']

lista_animais = ['Cachorro', 'Gato', 'Papagaio', 'Arara', 'Papagaio', 'Cavalo', 'Vaca', 'Boi', 'Galinha', 'Pato', 'Cisne', 'Pombo', 'Pavão'
                , 'Carneiro', 'Bode', 'Cabra', 'Porco', 'Touro', 'Girafa', 'Elefante', 'Leão', 'Tigre', 'Onça', 'Pantera', 'Jaguar', 'Guepardo'
                , 'Leopardo', 'Hiena', 'Rinoceronte','Hipopótamo', 'Crocodilo', 'Jacaré', 'Cobra', 'Sucuri', 'Jiboia', 'Píton', 'Anaconda'
                , 'Tartaruga', 'Cágado', 'Tigre', 'Tubarão', 'Baleia', 'Golfinho', 'Orca', 'Polvo', 'Lula', 'Água Viva', 'Estrela do Mar'
                , 'Baleia', 'Golfinho', 'Orca', 'Polvo', 'Lula', 'Água Viva', 'Estrela do Mar', 'Baleia', 'Golfinho']

# Se o parâmetro for True, a lista é bidimensional, se for False, a lista é unidimensional
listas_unidas = [ lista_mercado , lista_carro , lista_roupas , lista_escola , lista_times , lista_animais ]
colunas_bidimensional = [ 'Mercado', 'Carros' , 'Roupas' , 'Escola', 'Times' , 'Animais' ]
dado = Gerador_de_Dados()
df_categoricos = dado.Cria_Colunas_Categoricas( listas_unidas , colunas_bidimensional , True )

#df_categoricos.info( memory_usage = 'deep' )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000000 entries, 0 to 4999999
Data columns (total 6 columns):
 #   Column   Dtype
---  ------   -----
 0   Mercado  object
 1   Carros   object
 2   Roupas   object
 3   Escola   object
 4   Times    object
 5   Animais  object
dtypes: object(6)
memory usage: 1.9 GB

In [5]:
#teste.memory_usage( deep = True, index = False ) / 1024 / 1024
df = pd.concat( [ df_categoricos, df_numeros ] , axis = 1 )
df

,Mercado,Carros,Roupas,Escola,Times,Animais,Teste Inteiro_,Teste Real_,Teste_1,Teste_2,Teste_3,Teste_4,Teste_5,Teste_6,Teste_7,Teste_8,Teste_9,Teste_10
0,Temperos,Peugeot,Camisa,Lápis,São Paulo,Boi,63,98.063658,7,71.813568,26,61.675420,42.476330,96,98,30.878624,0.760347,26
1,Maionese,Chevrolet,Short,Caneta,Brasília,Pombo,33,70.856433,58,86.587240,47,46.216067,90.899169,9,4,1.840053,1.717187,92
2,Óleo,Honda,Camisa,Mochila,Corinthians,Hipopótamo,35,34.295974,57,83.031641,93,10.741716,67.118362,76,49,13.687652,97.194885,85
3,Maionese,Honda,Short,Borracha,Anápolis,Lula,32,86.490294,68,51.834302,88,57.644810,33.472056,81,73,79.437007,34.852316,76
4,Óleo,Chevrolet,Vestido,Mochila,Internacional,Elefante,50,9.179771,50,98.739264,39,48.655477,32.775815,38,14,52.522688,89.876981,82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4999995,Vinagre,Honda,Vestido,Estojo,Guarani,Vaca,65,88.390959,87,82.195606,60,71.726015,75.909182,5,48,69.296172,92.355675,63
4999996,Açúcar,Volkswagen,Saia,Mochila,Ceilândia,Elefante,23,91.125731,78,89.855678,3,66.044383,19.136017,55,59,59.039122,73.673849,96
4999997,Macarrão,Citroen,Blusa,Régua,Santos,Pombo,84,53.438758,9,60.081908,85,4.847101,27.424535,10,69,11.661710,15.095843,19
4999998,Azeite,Volkswagen,Saia,Estojo,Náutico,Boi,11,74.070438,85,29.052294,9,49.071194,78.040382,36,44,17.809421,12.915164,15
4999999,Pimenta,Hyundai,Calça,Cola,Paraná,Cachorro,4,39.339297,92,14.125636,64,48.597606,90.261851,56,46,46.467386,59.287201,2

In [6]:
df.info( memory_usage = 'deep' )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000000 entries, 0 to 4999999
Data columns (total 18 columns):
 #   Column          Dtype
---  ------          -----
 0   Mercado         object
 1   Carros          object
 2   Roupas          object
 3   Escola          object
 4   Times           object
 5   Animais         object
 6   Teste Inteiro_  int32
 7   Teste Real_     float64
 8   Teste_1         int32
 9   Teste_2         float64
 10  Teste_3         int32
 11  Teste_4         float64
 12  Teste_5         float64
 13  Teste_6         int32
 14  Teste_7         int32
 15  Teste_8         float64
 16  Teste_9         float64
 17  Teste_10        int32
dtypes: float64(6), int32(6), object(6)
memory usage: 2.2 GB

In [8]:
# Salvando o arquivo em disco com extensão .csv - lembre-se que este arquivo tem o tamanho de 2.0 GB com 10.000.000 de linhas
#pd.to_csv( 'Dados_criados_aleatorios.csv' , index = False )