In [2]:
import pandas as pd
import numpy as np

# Manipulação de Valores 1
 - Inteiros
    - função np.randint(start, end, count)

In [7]:
# Usando a biblioteca pandas para criar uma serie de 100000 elementos numéricos np.array
# Variando de 0 a 100, com 100000 elementos

# 1 - a variável "inicio" recebe o valor 0, que é o valor inicial do intervalo
inicio = 0
# 2 - a variável "fim" recebe o valor 100, que é o valor final do intervalo
fim = 100
# 3 - a variável "quantidade" recebe o valor 100000, que é a quantidade de elementos
tamanho = 5000000
# 4 - a variável "a" recebe um array de 100000 elementos, com valores inteiros aleatórios
a = np.random.randint( inicio, fim, tamanho)
# 5 - a variável "a" senddo mostrada de várias formas
print(a)
print(type(a))
print(a.shape)
a = pd.Series(a)
print(a.info())

[65 19 99 ... 51 73 65]
<class 'numpy.ndarray'>
(5000000,)
<class 'pandas.core.series.Series'>
RangeIndex: 5000000 entries, 0 to 4999999
Series name: None
Non-Null Count    Dtype
--------------    -----
5000000 non-null  int32
dtypes: int32(1)
memory usage: 19.1 MB
None

# Manipulação de Valores 2
- Números Decimal ou ponto flutuante

In [8]:
# 1. a variável "tamanho" recebe o valor 1000000, que é a quantidade de elementos
#tamanho = 1000000
# 2. a variável "b" recebe um array de 1000000 elementos, com valores reais aleatórios que variam de 0 a 1 multiplicados por 100 
# para ficar no intervalo de 0 a 100
b = np.random.random(tamanho) * 100
# 2.1 caso queria somente 2 casas decimais, descomente a linha abaixo
#b = np.round(b, 2)
# 3. a variável "b" sendo mostrada de várias formas
b = pd.Series(b)
print(b)
print(type(b)) # Tipo de dado
print(b.shape) # Formato do array
print(b.info()) # Informações sobre o array
#print(b.describe()) # Estatísticas sobre o array
#print(b.value_counts()) # Valores únicos e a quantidade de vezes que aparecem
#print(b.head()) # Mostra os 5 primeiros elementos
#print(b.tail()) # Mostra os 5 últimos elementos

0          20.575135
1          10.571357
2          46.800428
3          64.282908
4          70.784669
             ...
4999995    37.936010
4999996    53.395385
4999997    95.982057
4999998    98.609852
4999999    12.082730
Length: 5000000, dtype: float64
<class 'pandas.core.series.Series'>
(5000000,)
<class 'pandas.core.series.Series'>
RangeIndex: 5000000 entries, 0 to 4999999
Series name: None
Non-Null Count    Dtype
--------------    -----
5000000 non-null  float64
dtypes: float64(1)
memory usage: 38.1 MB
None

# Manipulação de Valores 3
- 3.1 Dados Categóricos - Criando a Série de dados

In [9]:
def cria_coluna_df(lista, n_elementos, nome_coluna):
    
    # 1. a variável "auxiliar" recebe um array de n_elementos elementos, com valores aleatórios da lista
    auxiliar = np.random.choice(lista, n_elementos)
    
    # 2. o dataframe "df" recebe um array de n_elementos elementos, com valores aleatórios da lista e com o nome da coluna
    df = pd.DataFrame(auxiliar, columns=[nome_coluna])
    
    # 3. a variável "id_col" recebe o nome da coluna concatenado com o nome "id_"
    id_col = 'id_' + df[nome_coluna].name
    
    # 3.1 o dataframe "df" recebe uma nova coluna com o nome "id_col" e com os valores da coluna "nome_coluna" convertidos para códigos
    df[id_col] = df[nome_coluna].astype('category').cat.codes
    
    # 4. avariável "df" retorna o dataframe com a coluna e o id
    return df



#tamanho = 1000000

lista_mercado = ['Arroz', 'Feijão', 'Macarrão','Temperos', 'Óleo', 'Açúcar', 'Café', 'Farinha', 'Sal', 'Pimenta',
         'Vinagre', 'Azeite', 'Molho de Tomate', 'Extrato de Tomate', 'Ketchup', 'Mostarda', 'Maionese']

lista_carro = ['Fiat', 'Ford', 'Chevrolet', 'Volkswagen', 'Renault', 'Peugeot', 'Citroen', 'Toyota', 'Honda', 'Hyundai']

lista_roupas = ['Camiseta', 'Calça', 'Bermuda', 'Blusa', 'Vestido', 'Saia', 'Short', 'Jaqueta', 'Casaco', 'Camisa']

lista_escola = ['Caderno', 'Lápis', 'Caneta', 'Borracha', 'Apontador', 'Régua', 'Tesoura', 'Cola', 'Mochila', 'Estojo']

In [14]:
tst1 = cria_coluna_df(lista_mercado, tamanho, 'mercado'.upper())
tst2 = cria_coluna_df(lista_carro, tamanho, 'carro'.upper())
tst3 = cria_coluna_df(lista_roupas, tamanho, 'roupas'.upper())  
tst4 = cria_coluna_df(lista_roupas, tamanho, 'escola'.upper())
tsts = [tst1, tst2, tst3, tst4]
tsts = pd.concat(tsts, axis=1)
tsts

,MERCADO,id_MERCADO,CARRO,id_CARRO,ROUPAS,id_ROUPAS,ESCOLA,id_ESCOLA
0,Azeite,1,Renault,7,Vestido,9,Short,8
1,Molho de Tomate,10,Honda,4,Vestido,9,Short,8
2,Farinha,5,Fiat,2,Saia,7,Calça,2
3,Açúcar,2,Hyundai,5,Saia,7,Casaco,5
4,Açúcar,2,Renault,7,Casaco,5,Short,8
...,...,...,...,...,...,...,...,...
4999995,Azeite,1,Ford,3,Short,8,Saia,7
4999996,Azeite,1,Chevrolet,0,Bermuda,0,Camiseta,4
4999997,Temperos,14,Peugeot,6,Saia,7,Blusa,1
4999998,Café,3,Hyundai,5,Jaqueta,6,Saia,7
4999999,Farinha,5,Renault,7,Camisa,3,Camisa,3

In [15]:
tsts["Val Inteiro"] = a
tsts["Val Real"] = b

def Categorico_Numerico(dataframe, booleano=False):
    # ['int8', 'object', 'category', 'datetime64[ns]', 'timedelta64[ns]', 'bool', 'float16', 
    # 'float32', 'float64','int16', 'int32', 'int64', 'uint8', 'uint16', 'uint32', 'uint64'
    if booleano == False:
        return dataframe.select_dtypes(include=['int8', 'float64'])
        #dfB = dataframe.select_dtypes(include='object')
    else:
        #dfA = dataframe.select_dtypes(include='int8')
        return dataframe.select_dtypes(include='object')

id_test = tsts.columns
for tipo_dado in id_test:
   #print(tsts[tipo_dado].dtype)
   if tsts[tipo_dado].dtype == 'int8' or tsts[tipo_dado].dtype == 'float64':
       print(f'{tipo_dado} é Categóricoe o tipo de dado é: {tsts[tipo_dado].dtype}')
print('-' * 100)
for tipo_dado in id_test:
   if tsts[tipo_dado].dtype == 'object':
       print(f'{tipo_dado} é Numérico e o tipo de dado é: {tsts[tipo_dado].dtype}')
       
df_categoricas = Categorico_Numerico(tsts, True)
df_categoricas

id_MERCADO é Categóricoe o tipo de dado é: int8
id_CARRO é Categóricoe o tipo de dado é: int8
id_ROUPAS é Categóricoe o tipo de dado é: int8
id_ESCOLA é Categóricoe o tipo de dado é: int8
Val Real é Categóricoe o tipo de dado é: float64
----------------------------------------------------------------------------------------------------
MERCADO é Numérico e o tipo de dado é: object
CARRO é Numérico e o tipo de dado é: object
ROUPAS é Numérico e o tipo de dado é: object
ESCOLA é Numérico e o tipo de dado é: object

                 MERCADO      CARRO   ROUPAS    ESCOLA
0                 Azeite    Renault  Vestido     Short
1        Molho de Tomate      Honda  Vestido     Short
2                Farinha       Fiat     Saia     Calça
3                 Açúcar    Hyundai     Saia    Casaco
4                 Açúcar    Renault   Casaco     Short
...                  ...        ...      ...       ...
4999995           Azeite       Ford    Short      Saia
4999996           Azeite  Chevrolet  Bermuda  Camiseta
4999997         Temperos    Peugeot     Saia     Blusa
4999998             Café    Hyundai  Jaqueta      Saia
4999999          Farinha    Renault   Camisa    Camisa

[5000000 rows x 4 columns]

In [16]:
df_numericas = Categorico_Numerico(tsts)
df_numericas

         id_MERCADO  id_CARRO  id_ROUPAS  id_ESCOLA   Val Real
0                 1         7          9          8  20.575135
1                10         4          9          8  10.571357
2                 5         2          7          2  46.800428
3                 2         5          7          5  64.282908
4                 2         7          5          8  70.784669
...             ...       ...        ...        ...        ...
4999995           1         3          8          7  37.936010
4999996           1         0          0          4  53.395385
4999997          14         6          7          1  95.982057
4999998           3         5          6          7  98.609852
4999999           5         7          3          3  12.082730

[5000000 rows x 5 columns]

In [34]:
# Crindo uam série de 1000000 elementos com valores categoricos aleatoriamente, com 5 categorias
tamanho = 1000000
elementos = ['categoria A', 'categoria B', 'categoria C', 'categoria D']
c = np.random.choice(elementos, tamanho)
c = pd.Series(c)
#print(c)
#print(type(c)) # Tipo de dado
#print(c.shape) # Formato do array
print(c.info()) # Informações sobre o array
#print(c.describe()) # Estatísticas sobre o array
#print(c.value_counts()) # Valores únicos e a quantidade de vezes que aparecem
#print(c.head()) # Mostra os 5 primeiros elementos

<class 'pandas.core.series.Series'>
RangeIndex: 1000000 entries, 0 to 999999
Series name: None
Non-Null Count    Dtype
--------------    -----
1000000 non-null  object
dtypes: object(1)
memory usage: 7.6+ MB
None

# Manipulação de Valores 3
- 3.2 Dados Categóricos - Manipuland a Série de dados para se transformar em valor númerico.

In [58]:
d = c
df = pd.DataFrame(d, columns=['categoria'])
df['id_cod'] = df['categoria'].astype('category').cat.codes

In [61]:
teste1 = df['categoria'].unique()
teste2 = df['categoria'].astype('category').cat.codes.unique()
print(teste1)
print(teste2)
print(df.info())

['categoria B' 'categoria C' 'categoria A' 'categoria D']
[1 2 0 3]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 2 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   categoria  1000000 non-null  object
 1   id_cod     1000000 non-null  int8
dtypes: int8(1), object(1)
memory usage: 8.6+ MB
None