In [2]:
import pandas as pd
import numpy as np

# Manipulação de Valores 1
 - Inteiros
    - função np.randint(start, end, count)

In [3]:
# Usando a biblioteca pandas para criar uma serie de 100000 elementos numéricos np.array
# Variando de 0 a 100, com 100000 elementos

# 1 - a variável "inicio" recebe o valor 0, que é o valor inicial do intervalo
inicio = 0
# 2 - a variável "fim" recebe o valor 100, que é o valor final do intervalo
fim = 100
# 3 - a variável "quantidade" recebe o valor 100000, que é a quantidade de elementos
quantidade = 100000
# 4 - a variável "a" recebe um array de 100000 elementos, com valores inteiros aleatórios
a = np.random.randint( inicio, fim, quantidade)
# 5 - a variável "a" senddo mostrada de várias formas
print(a)
print(type(a))
print(a.shape)
a = pd.Series(a)
print(a.info())

[85  3 96 ... 40 30 45]
<class 'numpy.ndarray'>
(100000,)
<class 'pandas.core.series.Series'>
RangeIndex: 100000 entries, 0 to 99999
Series name: None
Non-Null Count   Dtype
--------------   -----
100000 non-null  int32
dtypes: int32(1)
memory usage: 390.8 KB
None

# Manipulação de Valores 2
- Números Decimal ou ponto flutuante

In [4]:
# 1. a variável "tamanho" recebe o valor 1000000, que é a quantidade de elementos
tamanho = 1000000
# 2. a variável "b" recebe um array de 1000000 elementos, com valores reais aleatórios que variam de 0 a 1 multiplicados por 100 
# para ficar no intervalo de 0 a 100
b = np.random.random(tamanho) * 100
# 2.1 caso queria somente 2 casas decimais, descomente a linha abaixo
#b = np.round(b, 2)
# 3. a variável "b" sendo mostrada de várias formas
b = pd.Series(b)
print(b)
print(type(b)) # Tipo de dado
print(b.shape) # Formato do array
print(b.info()) # Informações sobre o array
#print(b.describe()) # Estatísticas sobre o array
#print(b.value_counts()) # Valores únicos e a quantidade de vezes que aparecem
#print(b.head()) # Mostra os 5 primeiros elementos
#print(b.tail()) # Mostra os 5 últimos elementos

0         36.388923
1         11.286453
2         31.256611
3         91.453743
4         52.048178
            ...
999995    50.473295
999996    47.546918
999997    42.700348
999998     5.413644
999999    65.819768
Length: 1000000, dtype: float64
<class 'pandas.core.series.Series'>
(1000000,)
<class 'pandas.core.series.Series'>
RangeIndex: 1000000 entries, 0 to 999999
Series name: None
Non-Null Count    Dtype
--------------    -----
1000000 non-null  float64
dtypes: float64(1)
memory usage: 7.6 MB
None

# Manipulação de Valores 3
- 3.1 Dados Categóricos - Criando a Série de dados

In [93]:
def cria_coluna_df(lista, n_elementos, nome_coluna):
    
    # 1. a variável "auxiliar" recebe um array de n_elementos elementos, com valores aleatórios da lista
    auxiliar = np.random.choice(lista, n_elementos)
    
    # 2. o dataframe "df" recebe um array de n_elementos elementos, com valores aleatórios da lista e com o nome da coluna
    df = pd.DataFrame(auxiliar, columns=[nome_coluna])
    
    # 3. a variável "id_col" recebe o nome da coluna concatenado com o nome "id_"
    id_col = 'id_' + df[nome_coluna].name
    
    # 3.1 o dataframe "df" recebe uma nova coluna com o nome "id_col" e com os valores da coluna "nome_coluna" convertidos para códigos
    df[id_col] = df[nome_coluna].astype('category').cat.codes
    
    # 4. avariável "df" retorna o dataframe com a coluna e o id
    return df

def Categorico_Numerico(lista):
    
    return None

tamanho = 1000000

lista_mercado = ['Arroz', 'Feijão', 'Macarrão','Temperos', 'Óleo', 'Açúcar', 'Café', 'Farinha', 'Sal', 'Pimenta',
         'Vinagre', 'Azeite', 'Molho de Tomate', 'Extrato de Tomate', 'Ketchup', 'Mostarda', 'Maionese']

lista_carro = ['Fiat', 'Ford', 'Chevrolet', 'Volkswagen', 'Renault', 'Peugeot', 'Citroen', 'Toyota', 'Honda', 'Hyundai']

lista_roupas = ['Camiseta', 'Calça', 'Bermuda', 'Blusa', 'Vestido', 'Saia', 'Short', 'Jaqueta', 'Casaco', 'Camisa']

lista_escola = ['Caderno', 'Lápis', 'Caneta', 'Borracha', 'Apontador', 'Régua', 'Tesoura', 'Cola', 'Mochila', 'Estojo']

tst1 = cria_coluna_df(lista_mercado, tamanho, 'mercado'.upper())
tst2 = cria_coluna_df(lista_carro, tamanho, 'carro'.upper())
tst3 = cria_coluna_df(lista_roupas, tamanho, 'roupas'.upper())  
tst4 = cria_coluna_df(lista_roupas, tamanho, 'escola'.upper())
tsts = [tst1, tst2, tst3, tst4]
tsts = pd.concat(tsts, axis=1)
tsts

,MERCADO,id_MERCADO,CARRO,id_CARRO,ROUPAS,id_ROUPAS,ESCOLA,id_ESCOLA
0,Temperos,14,Toyota,8,Camiseta,4,Short,8
1,Feijão,6,Citroen,1,Jaqueta,6,Vestido,9
2,Ketchup,7,Hyundai,5,Vestido,9,Camiseta,4
3,Molho de Tomate,10,Ford,3,Camiseta,4,Saia,7
4,Extrato de Tomate,4,Honda,4,Saia,7,Camiseta,4
...,...,...,...,...,...,...,...,...
999995,Molho de Tomate,10,Renault,7,Casaco,5,Blusa,1
999996,Maionese,9,Toyota,8,Camiseta,4,Camisa,3
999997,Maionese,9,Fiat,2,Camisa,3,Camiseta,4
999998,Farinha,5,Renault,7,Calça,2,Calça,2
999999,Óleo,16,Toyota,8,Bermuda,0,Short,8

In [109]:
id_test = tsts.columns
for tipo_dado in id_test:
   #print(tsts[tipo_dado].dtype)
   if tsts[tipo_dado].dtype == 'int8':
       print(f'{tipo_dado} é Categórico')
       print(tsts[tipo_dado].dtype)

id_MERCADO é Categórico
int8
id_CARRO é Categórico
int8
id_ROUPAS é Categórico
int8
id_ESCOLA é Categórico
int8

In [34]:
# Crindo uam série de 1000000 elementos com valores categoricos aleatoriamente, com 5 categorias
tamanho = 1000000
elementos = ['categoria A', 'categoria B', 'categoria C', 'categoria D']
c = np.random.choice(elementos, tamanho)
c = pd.Series(c)
#print(c)
#print(type(c)) # Tipo de dado
#print(c.shape) # Formato do array
print(c.info()) # Informações sobre o array
#print(c.describe()) # Estatísticas sobre o array
#print(c.value_counts()) # Valores únicos e a quantidade de vezes que aparecem
#print(c.head()) # Mostra os 5 primeiros elementos

<class 'pandas.core.series.Series'>
RangeIndex: 1000000 entries, 0 to 999999
Series name: None
Non-Null Count    Dtype
--------------    -----
1000000 non-null  object
dtypes: object(1)
memory usage: 7.6+ MB
None

# Manipulação de Valores 3
- 3.2 Dados Categóricos - Manipuland a Série de dados para se transformar em valor númerico.

In [58]:
d = c
df = pd.DataFrame(d, columns=['categoria'])
df['id_cod'] = df['categoria'].astype('category').cat.codes

In [61]:
teste1 = df['categoria'].unique()
teste2 = df['categoria'].astype('category').cat.codes.unique()
print(teste1)
print(teste2)
print(df.info())

['categoria B' 'categoria C' 'categoria A' 'categoria D']
[1 2 0 3]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 2 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   categoria  1000000 non-null  object
 1   id_cod     1000000 non-null  int8
dtypes: int8(1), object(1)
memory usage: 8.6+ MB
None